@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply overflow-x-hidden;
}

body {
  @apply bg-gray-200 text-lg font-sans font-normal;
}

.timeline::before {
  content: '';
  background: #C5CAE9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }

  .timeline-img {
    left: 50px;
  }

  .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }

  .timeline-item:nth-child(even) .timeline-content,
  .timeline-item:nth-child(odd) .timeline-content::after {
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}
