@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Grandstander';
        font-style: italic;
        /* font-weight: 500; */
        font-display: swap;
        src: url(../public/assets/fonts/Grandstander.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Inter';
        font-style: italic;
        /* font-weight: 500; */
        font-display: swap;
        src: url(../public/assets/fonts/Inter.woff2) format('woff2');
    }
}

/* body{
    background-image: url(../public/assets/img/images/back.png);
} */



body{
    background-color: #020519;
    background-image: url(../public/assets/img/images/bg.png);
}

.footer{
    background-image: url(../public//assets/img/banner/banner_bg.png);
}