@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Grandstander';
        font-style: italic;
        /* font-weight: 500; */
        font-display: swap;
        src: url(../public/assets/fonts/lota.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Inter';
        font-style: italic;
        /* font-weight: 500; */
        font-display: swap;
        src: url(../public/assets/fonts/Inter.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Lotata';
        font-style: italic;
        /* font-weight: 500; */
        font-display: swap;
        src: url(../public/assets/fonts/lotata.woff2) format('woff2');
    }
}

/* body{
    background-image: url(../public/assets/img/images/back.png);
} */



body{
    background-image: url(../public/assets/img/bg/backround.gif);
    background-color: linear-gradient(#000000, #0B1B18);
    /* background-image: url(../public/assets/img/images/bg.png); */
}

